---
import Layout from '../layouts/Layout.astro';
// all is server only

const name = 'Diego Alarcon Inturias';
---

<Layout>
	<div>
	 <a href="/about">{name}</a>
	 <span>Momento Actual: {new Date().toLocaleTimeString()}</span>
	</div>
</Layout>
